.image-cointainer {
    height: 50px;
    overflow: hidden;
    border-radius: 61px;
    width: 50px;
    padding: 0;
    border: solid 3px #414141;
    margin: 0;
    box-sizing: border-box;
    /* background: black; */
    cursor: pointer;
}