<div class="menu">
    <div class="menu-button" [ngClass]="!mostrarDeck ? '' : 'selected'" (click)="changeMenu(true)">
        Exibir Deck
    </div>
    <div class="menu-button" [ngClass]="mostrarDeck ? '' : 'selected'" (click)="changeMenu(false)">
        Listar Cartas
    </div>
</div>


<div class="flex" *ngIf="mostrarDeck">
    <aba_lista [list]="cards"></aba_lista>
</div>

<div class="flex " *ngIf="!mostrarDeck">
    <p *ngIf="loadingList">Carregando!!</p>
    <div class="lista overflow" *ngIf="list != null && list.length > 0">
        <div *ngFor="let card of list">
            <card [card]="card" (click)="selectCard(card)"></card>
        </div>
    </div>
</div>


<div class="modal" *ngIf="selectedCard != null && showModal">
    <div class="content">
        <div class="top" (click)="removeModal()">
            X
        </div>
        <card [card]="selectedCard"></card>
        <div class="actions">
            <input *ngIf="!mostrarDeck" type="button" value="Add Card" (click)="adicionarCard()">
            <input *ngIf="mostrarDeck" type="button" value="Remove Card" (click)="deleteCard(selectedCard)">
        </div>
    </div>

</div>

<div class="modal" *ngIf="hasError">
    <div class="error-content">
        <div class="top" (click)="hasError = false">
            X
        </div>
        <div class="message">
            {{errorMessage}}
        </div>
    </div>
</div>